*
{
	margin: 0;
	/*border: black solid;*/
	/*font-family: */
}
body
{
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	background: linear-gradient(white, 80%, #fc0404);
	background-repeat: no-repeat;
	/*#fc0404 rgba(252,4,4,0.2)
	#040404 rgb(4,4,4)*/
}
ul
{
	list-style-type: none;
	padding: 0;
}
/********************************************************************************************************
*********************************************************************************************************
HEADER
*********************************************************************************************************
********************************************************************************************************/
header *
{
	height: 100%;
	width: 100%;
}
header
{
	/*background: linear-gradient(0.25turn, white, 10%, #040404);*/
	height: 100px;
	display: flex;
	align-items: center;
}
header nav
{
	margin-left: 15px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo_GBAF
{
	height: auto;
	width: auto;
	max-height:100%;
	max-width:100%;
}
#userBloc
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}
#userBloc li
{
	display:flex;
	justify-content: flex-end;
	height: auto;
	width: auto;	
}
/********************************************************************************************************
*********************************************************************************************************
FORMS
*********************************************************************************************************
********************************************************************************************************/
section
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
fieldset
{
	border:none;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
}
legend
{
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.3em;
}
input
{
	margin-bottom: 30px;
}
.blocFormsFormat
{
	display: flex;
	justify-content: space-between;
}
.formsFormat
{
	width: 48%;
	display: flex;
	flex-direction: column;
}
.blocWithTooltip
{
	display: flex;
	justify-content: center;
	height: 20px;
	margin-bottom: 5px;
}
.toolTip 
{ 
  	text-decoration:none; 
  	position:relative; 
} 
.toolTip ul 
{ 
	list-style-type: disc;
	display:none; 
	border-radius:6px; 
	color:black; 
	background-color: #eff1f3; 
	font-size:0.7em; 
	font-style:italic; 
	text-align: left;
} 
.toolTip img 
{ 
	height: auto;
	width: auto;
	max-height:100%;
	max-width:100%;
} 
.toolTip:hover ul 
{ 
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:1000; 
	width:250px; 
	/* max-width:200px; */ 
	min-height:20px; 
	border:1px solid black; 
	margin-left:60px; 
	overflow:hidden; 
	padding: 10px 0px 10px 25px;
}
.error
{
	color: red;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	margin-bottom: 5px;
}
/********************************************************************************************************
*********************************************************************************************************
PRESENTATION
*********************************************************************************************************
********************************************************************************************************/
#section1
{
	background-image: url("../images/master_resized.jpg");
	background-size: cover;
}
/********************************************************************************************************
*********************************************************************************************************
ACTEURS ET PARTENAIRES
*********************************************************************************************************
********************************************************************************************************/

/********************************************************************************************************
*********************************************************************************************************
FOOTER
*********************************************************************************************************
********************************************************************************************************/
footer
{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(4,4,4);
	color: white;
	letter-spacing: 0.2em;
	font-size: 0.8em;
	margin-top: 25px;
}
footer ul
{
	display: flex;
}
.verticalSeparator
{
	border: none;
	height: 1.2em;
	width: 1px;
	background-color: white;
	margin-right: 15px;
	margin-left: 15px;
}