/********************************************************************************************************
*********************************************************************************************************
ALL
*********************************************************************************************************
********************************************************************************************************/
*
{
	margin: 0;
	padding: 0;
}
#background
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;	
}
.background_forms
{
	background-image: url(../images/background_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.background_comments_page
{
	background-image: url("../images/background_3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.background_main_page
{
	background-image: url("../images/background_2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	
	
}
h1, h2
{
	font-family: sans-serif;
}
ul
{
	list-style-type: none;
	padding: 0;
}
a
{
	color: #536470;
	text-decoration: none;
}
a:hover
{
	color: #fc0404;
}
input:focus, a:focus
{
	outline:none;
}
.back_button
{
	align-self: flex-start;
	margin: 30px 20px;
	font-family: sans-serif;
	text-align: center;
	background-color: rgba(235,4,4,0.9);
	transition: background-color 0.5s;
	border-radius: 10px;
	color: white;
	letter-spacing: 0.1em;
	padding: 10px 15px;
	font-size: 0.8em;
}
.back_button:hover
{
	background-color: rgba(53,64,70,0.5);
	cursor:pointer;
	font-weight: bold;
	color: white;
}
.back_button img
{
	height: 12px;
	width: 20px;
}
/********************************************************************************************************
*********************************************************************************************************
HEADER
*********************************************************************************************************
********************************************************************************************************/
header *
{
	height: 100%;
	width: 100%;
}
header
{
	background-color: rgba(255,255,255, 0.7);
	height: 100px;
	display: flex;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
}
header nav
{
	width: 95%;
	margin: auto;
}
header ul
{
	display: flex;
	justify-content: space-between;
}
#logoGBAF-block
{
	height: 80%;
	margin: auto;
}
#userBlock
{
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
#userBlock li
{
	height: 20px;
	width: auto;
	color: black;
}
#userBlock li a[title="Paramètres de l'utilisateur"], #userBlock li a[title="Déconnexion"]
{
	color: black;
}
#userBlock li a:hover
{
	color: #fc0404;
}
#li_logout
{
	margin-top: 25px;
}
.logo
{
	height: auto;
	width: auto;
	max-height:100%;
	max-width:100%;
}
#logo_profil
{
	margin-right: 5px;
}
#logo_logout
{
	margin-right: 5px;
	vertical-align: middle;
}
/********************************************************************************************************
*********************************************************************************************************
PAGE CONNECTION
*********************************************************************************************************
********************************************************************************************************/
.section_forms
{
	width: 100%;
}
#section_forms_connection_page
{
	padding: 30px 0;
}
/********************************************************************************************************
*********************************************************************************************************
FORMS
*********************************************************************************************************
********************************************************************************************************/
section
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form
{
	width: 98%;
}
fieldset
{
	border:none;
	display: flex;
	flex-direction: column;
	text-align: center;
}
legend
{
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	letter-spacing: 0.5em;
	text-shadow:0px 0px 5px white, 1px 1px 5px white,-1px -1px 5px white,2px 2px 5px white;
}
label
{
	text-shadow:0px 0px 5px white, 1px 1px 5px white,-1px -1px 5px white,2px 2px 5px white;
	letter-spacing: 0.2em;
	font-size: 1.1em;
}
input[type=text], input[type=password]
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 30px;
	background-color: white;
	border: solid #a5a5a5 1px;
	border-radius: 5px;
	height: 30px;
}
input[type=text]:hover, input[type=password]:hover
{
	box-shadow: 0px 0px 2px 1px black;
	border: solid rgba(255,255,255,0) 1px;
	border-radius: 5px;
}
input[type=submit]
{
	margin: 10px 0px 30px 0px;
	background-color: rgba(252,4,4,0.9);
	transition: background-color 0.5s;
	border-radius: 10px;
	border:none;
	color: white;
	letter-spacing: 0.1em;
	padding: 10px 50px 10px 50px;
}
input[type=submit]:hover
{
	font-weight: bold;
	background-color: rgba(53,64,70,0.5);
	cursor:pointer;
}
.blocFormsFormat
{
	display: flex;
	justify-content: space-between;
}
.formsFormat
{
	width: 48%;
	display: flex;
	flex-direction: column;
}
.blocWithTooltip
{
	display: flex;
	justify-content: center;
	height: 20px;
	margin-bottom: 5px;
}
.toolTip 
{ 
  	text-decoration:none; 
  	position:relative; 
} 
.toolTip ul 
{ 
	list-style-type: disc;
	display:none; 
	border-radius:6px; 
	color:black; 
	background-color: #eff9f9; 
	font-size:0.8em; 
	font-style:italic; 
	text-align: left;
} 
.toolTip img 
{ 
	height: auto;
	width: auto;
	max-height:100%;
	max-width:100%;
} 
.toolTip:hover ul 
{ 
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:1000; 
	width:250px; 
	max-width:300px;
	min-height:20px; 
	margin-left:60px; 
	overflow:hidden; 
	padding: 10px 0px 10px 25px;
}
.error
{
	color: red;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	margin-bottom: 5px;
}
.correct
{
	color: green;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	margin-bottom: 5px;
}
/********************************************************************************************************
*********************************************************************************************************
PAGE PARTNERS
*********************************************************************************************************
********************************************************************************************************/
.sections-partersPage
{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: black;
}
.sections-partersPage h1, .sections-partersPage h2
{
	letter-spacing: 0.2em;
	margin-bottom: 20px;
	color: #fc0404;
	font-size: 2em;
}
.sections-partersPage > div
{
	margin: 10px 40px 40px 40px;
}
#section-presentation
{
	margin: auto auto 0px auto;
	padding-top: 50px;
}
#master
{
	height: 275px;
	width: 93%;
	background-image: url("../images/master.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#section-partner
{
	margin-bottom: 30px;
}
#section-partner p
{
	margin-bottom: 50px;
}
#listpartners-block
{
	padding-bottom: 1px;
	padding-top: 1px;
	background-color:rgba(30,30,30,0.8);
	border-radius: 10px;
}
.partner_block
{
	color: white;
	opacity: 0.85;
	margin: 30px;
	padding: 20px 20px 10px 20px;
	display: flex;
	align-items: center;
	background-color: black;
	border-radius: 10px;
	box-shadow:0px 0px 5px 1px black;
}
.partner_block p, .partner_block div
{
	margin: auto 10px auto auto;
}
.partner_block p img
{
	border: 1px black solid;
	border-radius: 5px;
	height: 120px;
	width: auto;
}
.partner_block p:nth-child(1)
{
	flex:1;
}
.partner-content:nth-child(2)
{
	flex:2;
}
.partner-content h3
{
	margin-bottom: 20px;
}
.partner_block a[href="#"]
{
	text-decoration: underline;
}
.partner_block a[title="Lire la suite..."]:nth-child(3)
{
	align-self: flex-end;
	white-space: nowrap;
	background-color: #fc0404;
	transition: background-color 0.5s;
	border-radius: 10px;
	border:none;
	color: white;
	letter-spacing: 0.2em;
	padding: 10px 30px 10px 30px;
	font-size: 0.7em;
}
.partner_block a[title="Lire la suite..."]:hover
{
	background-color: rgb(53,64,70,0.8);
	cursor:pointer;
}
/********************************************************************************************************
*********************************************************************************************************
PAGE COMMENTS AND ADDCOMMENT
*********************************************************************************************************
********************************************************************************************************/
#section_partner_comments_page
{
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}
#block_partner_comments_page
{
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	background-color:rgb(30,30,30);
	border-radius: 10px;
	color: white; 
	padding: 30px;
	width: 90%;
	opacity: 0.85;
}
#block_partner_comments_page h2
{
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 10px;
}
#block_partner_comments_page a
{
	margin-bottom: 30px;
	width: 2vw;
	white-space: nowrap;
}
#logo_partner_comments_page:nth-child(1)
{
	align-self: center;
	text-align: center;
	height: auto;
}
#logo_partner_comments_page img
{
	margin-bottom: 50px;
	border-radius: 10px;
	height: auto;
	width: 40vw;
}
#comments_block
{
	display: flex;
	flex-direction: column;
	background-color:rgb(30,30,30);
	border-radius: 10px;
	width: 90%;
	opacity: 0.95;
}
#header_comments_block
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto 30px auto 30px;
	padding: 20px 0 20px 0;
	color: white;
}
#header_comments_block h3
{
	font-size: 1.5em;
}
#header_comments_block > div
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
}
#like_dislike_block
{
	display: flex;
	justify-content: flex-end;
	text-align: right;
	height: 35px;
	width: 60%;
}
#like_dislike_block a:hover
{
	filter: brightness(2);
}
.disabled_link
{
	pointer-events: none;
	cursor: default;
}
#like_dislike_block p
{
	margin-left: 5px;
	align-self: center;
	font-size: 1.5em;
}
#new_com_button
{
	font-family: sans-serif;
	text-align: center;
	display: block;
	background-color: rgba(235,4,4,0.9);
	transition: background-color 0.5s;
	border-radius: 10px;
	color: white;
	letter-spacing: 0.1em;
	padding: 10px 20px 10px 20px;
	font-size: 0.8em;
}
#new_com_button:hover
{
	background-color: rgba(53,64,70,0.5);
	cursor:pointer;
	color: white;
}
.comment
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	opacity: 0.85;
	margin: 10px 30px 20px 30px;
	padding: 10px 20px 10px 20px;
	background-color: black;
	border-radius: 10px;
	box-shadow:0px 0px 5px 1px black;
}
.date_comments
{
	font-style: italic;
	font-size: 0.8em;
}

/************************************
*************************************
PAGE ADDCOMMENT
*************************************
************************************/
#section_add_comment
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#block_add_comment
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:rgba(30,30,30,0.85);
	border-radius: 10px;
	width: 80%;
}
#block_add_comment h2
{
	margin: 35px auto;
	text-align: center;
	
}
#block_add_comment img
{
	border-radius: 10px;
	height: auto;
	width: 30vw;
}
#form_add_comment
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#form_add_comment label
{
	color: white;
	text-shadow: none;
}
#form_add_comment fieldset div:first-child
{
	display: flex;
	justify-content: space-between;
	width: 75vw;
}
#form_add_comment textarea
{
	border-radius: 10px;
	background-color: rgba(0,0,0,0.85);
	border :none;
	color: white;
	font-size: 1.3em;
	width: 70%;
}
/********************************************************************************************************
*********************************************************************************************************
PAGE SETTINGS
*********************************************************************************************************
********************************************************************************************************/
#section_settings
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#block_settings
{
	padding: 10px 30px 30px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:rgba(30,30,30,0.85);
	border-radius: 10px;
	width: 80vw;
}
#block_settings > div
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin: 20px auto;
	color: white;
}
#block_settings > div > div
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
	font-size: 1.5em;
}
#form_settings div
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#form_settings label
{
	color: white;
	text-shadow: none;
	width: 45%;
	text-align: left;
}
#form_settings input[type=text], #form_settings input[type=password]
{
	display: flex;
	width: 50%;
	white-space: nowrap;
	margin: 5px 0;
}
input[value="Mettre à jour mes paramètres"]
{
	margin: 40px auto 0px auto;
	padding-right: 20px;
	padding-left: 20px;
	width: auto;
}
hr
{
	margin-top: 20px;
	margin-bottom: 20px;
}
/********************************************************************************************************
*********************************************************************************************************
FOOTER
*********************************************************************************************************
********************************************************************************************************/
footer
{
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(4,4,4,0.9);
	color: white;
	letter-spacing: 0.2em;
	font-size: 0.8em;
}
footer ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer a
{
	color: white;
}
.verticalSeparator
{
	border: none;
	height: 1.2em;
	width: 1px;
	background-color: white;
	margin-right: 15px;
	margin-left: 15px;
}


/********************************************************************************************************
*********************************************************************************************************
MEDIA QUERIES (smartphones)
*********************************************************************************************************
********************************************************************************************************/
@media only screen and (max-width: 767px)
{
	/****************************ALL********************************/
	.back_button
	{
		margin: 15px 5px;
	}
	/****************************HEADER*****************************/
	header
	{
		height: auto;
		padding: 10px;
		font-size: 0.9em;
	}
	header nav
	{
		text-align: center;
		width: auto;
	}
	header ul
	{
		flex-direction: column;
	}
	#logoGBAF-block
	{
		height: 10vh;
		margin-bottom: 10px;
	}
	#userBlock
	{
		justify-content: center;
		align-items: center;
	}
	#userBlock li
	{
		margin: 3px;
	}
	/********************************FORMS*********************************/
	.section_forms
	{
		font-size: 0.8em;
	}
	.section_forms input[type=submit]
	{
		font-size: 0.9em;
		padding: 10px 10px;
	}
	.column_forms
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.width_forms
	{
		width: 100%;
	}
	/****************************PAGE PARTNERS*****************************/
	#section-presentation div
	{
		margin-top:0;
		width: 90vw;
	}
	#section-presentation div p
	{
		text-align: justify;
		width: 80vw;
		margin: auto;
		font-size: 0.8em;
	}
	#section-presentation h1
	{
		font-size: 1.2em;
	}
	#master
	{
		height: 20vh;
	}
	#section-partner
	{
	

	}
	#section-partner div
	{
		width: 90%;
	}
	#section-partner h2
	{
		font-size: 1.2em;
	}
	#section-partner div p
	{
		width: 100%;
		margin: auto;
		font-size: 0.8em;
	}
	#listpartners-block
	{
		margin: auto;
		margin-top: 40px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.partner_block
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 0.9em;
		margin: 10px 10px;
		padding: 5px;
		width: 50vw;
	}
	.partner_block > p
	{
		text-align: center;
	}
	.partner_block p img
	{
		height: 13vh;
		width: 100vw;
	}
	.partner-content h3
	{
		margin: 10px auto;
	}
	.partner_block a[title="Lire la suite..."]
	{
		margin-top: 20px;
	}


	/****************************PAGE COMMENTS AND ADDCOMMENT*****************************/
	#section_partner_comments_page
	{
		font-size: 0.8em;
	}
	#block_partner_comments_page > a
	{
		white-space: nowrap;
		margin-bottom: 20px;
		margin-top: -5px;
	}
	#logo_partner_comments_page
	{
		height: 13vh;
		margin-bottom: 20px;
	}
	#comments_block
	{
	
	}
	#header_comments_block
	{
		font-size: 0.9em;
		margin:auto 10px;
		flex-direction: column;
	}
	#header_comments_block > div
	{
		justify-content: flex-end;
		width: 100%;
	}
	#new_com_button_like_dislike_block
	{
		margin-top: 10px;
	}
	#new_com_button
	{
		padding: 8px 11px;
		margin-top: 10px;
		margin-right: 50px;
	}
	#like_dislike_block img
	{
		height: auto;
		width: 50%;
	}
	.comment
	{
		margin: 0 20px 10px 20px;
	}
	/**************************/
	#section_add_comment
	{
		font-size: 0.7em;
	}
	#block_add_comment
	{
		width: 90vw;
	}
	#block_add_comment > h2
	{
		width: 70vw;
		height: 18%;
		margin:0;
		margin-top: 20px;
		margin-bottom: 20px;
		
	}
	#form_add_comment fieldset > div
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	#form_add_comment fieldset div label
	{
		margin-bottom: 5px;
	}
	#form_add_comment fieldset > div:nth-child(5)
	{
		align-self: center;
	}
	#form_add_comment textarea
	{
		width: 100%;
	}
	#form_add_comment input[type="submit"]
	{
		font-size: 0.9em;
		padding: 10px 15px;
		margin-bottom: 20px;
	}
	#addcomment_back_button
	{
		display: none;
	}
	/****************************PAGE SETTINGS**********************/
	#section_settings
	{
		font-size: 0.8em;
	}
	#block_settings
	{
		padding: 10px;
		width: 90%;
	}
	#block_settings > div
	{
		text-align: left;
		margin: 0;
		margin-bottom: 8px;
	}
	#form_settings input::placeholder
	{
		font-size: 0.8em;
	}
	#form_settings fieldset > div
	{
		margin-bottom: 8px;
	}
	#form_settings fieldset div
	{
		flex-direction: column;
		align-items: flex-start;
		width: 200%;
	}
	#form_settings fieldset > input
	{
		margin: auto;
		font-size: 1em;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	/****************************FOOTER*****************************/
	footer
	{
		font-size: 0.7em;
	}

}


/********************************************************************************************************
*********************************************************************************************************
MEDIA QUERIES (tablets)
*********************************************************************************************************
********************************************************************************************************/
@media only screen and (max-width: 991px)
{
	/********************************FORMS*********************************/
	.section_forms
	{
		font-size: 0.8em;
	}
	.section_forms input[type=submit]
	{
		font-size: 0.9em;
		padding: 10px 10px;
	}
	.column_forms
	{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.width_forms
	{
		width: 100%;
	}
	/****************************PAGE PARTNERS*****************************/
	.partner_block p img
	{
		border: 1px black solid;
		border-radius: 5px;
		height: 9vh;
		width: 100%;
	}
	.partner_block p:nth-child(1)
	{
		flex: 2;
	}
	.partner-content:nth-child(2)
	{
		flex: 3;
	}
	.partner_block a[title="Lire la suite..."]:nth-child(3)
	{
		
		padding: 5px 10px;
	}
	/****************************PAGE COMMENTS AND ADDCOMMENT*****************************/
	#section_partner_comments_page
	{
		font-size: 0.8em;
		width: 90vw;
	}
	#logo_partner_comments_page
	{
		height: 18vh;
		margin-bottom: 20px;
	}
	#comments_block
	{
		width: 90vw;
	}
	#new_com_button
	{
		padding: 8px 11px;
		margin-top: 10px;
	}
	#like_dislike_block
	{
		height: auto;
		width: 50%;
	}
	#like_dislike_block a
	{
		margin-left: 10px;
	}
	.comment
	{
		margin: 0 20px 10px 20px;
	}
	/**************************/
	#section_add_comment
	{
		font-size: 0.7em;
	}
	#block_add_comment
	{
		width: 90vw;
	}
	#block_add_comment > h2
	{
		width: 70vw;
		height: 18%;
		margin:0;
		margin-top: 20px;
		margin-bottom: 20px;
		
	}
	#form_add_comment fieldset > div
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	#form_add_comment fieldset div label
	{
		margin-bottom: 5px;
	}
	#form_add_comment fieldset > div:nth-child(5)
	{
		align-self: center;
	}
	#form_add_comment textarea
	{
		width: 100%;
	}
	#form_add_comment input[type="submit"]
	{
		font-size: 0.9em;
		padding: 10px 15px;
		margin-bottom: 20px;
	}
	/****************************PAGE SETTINGS**********************/
	#form_settings fieldset > div
	{
		margin-bottom: 10px;
	}
}