*
{
	margin: 0;
	/*border: black solid;*/
}
body
{
	display: flex;
	flex-direction: column;
	background: linear-gradient(white, 80%, #fc0404);
	/*#fc0404 rgba(252,4,4,0.2)
	#040404 rgb(4,4,4)*/
}
/******************************************************************
*******************************************************************
HEADER
*******************************************************************
******************************************************************/
header
{
	height: 100px;
}
#logo
{
	max-height:100%;
	max-width:100%;
}
/******************************************************************
*******************************************************************
PRESENTATION
*******************************************************************
******************************************************************/
#section1
{
	background-image: url("../images/master_resized.jpg");
	background-size: cover;
}
/******************************************************************
*******************************************************************
ACTEURS ET PARTENAIRES
*******************************************************************
******************************************************************/

/******************************************************************
*******************************************************************
FOOTER
*******************************************************************
******************************************************************/
footer
{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(4,4,4);
	color: white;
}